<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881406704028-ecagradao6tan6vnsa2ak24hvf4rldp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881406704028-ecagradao6tan6vnsa2ak24hvf4rldp1</string>
	<key>API_KEY</key>
	<string>AIzaSyDZJVEQu23ZuQz1WmOco2NAMD5E24Y3mjo</string>
	<key>GCM_SENDER_ID</key>
	<string>881406704028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gpstroller.GPStroller</string>
	<key>PROJECT_ID</key>
	<string>gpsapp-f8f7d</string>
	<key>STORAGE_BUCKET</key>
	<string>gpsapp-f8f7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881406704028:ios:6a3dd8ef169d05903c7059</string>
	<key>DATABASE_URL</key>
	<string>https://gpsapp-f8f7d.firebaseio.com</string>
</dict>
</plist>